version: "3.9"

services:
  nginx:
    build:
      context: requirements/nginx/
      args:
        - DOMAIN_NAME
    image: nginx
    depends_on:
      - wordpress
      - adminer
    volumes:
      - wordpress:/www
      - adminer:/adminer
    hostname: $DOMAIN_NAME
    ports:
      - "443:443"
    restart: always

  mariadb:
    build:
      context: requirements/mariadb/
      args:
        - MYSQL_ROOT_PASSWORD
        - MYSQL_USER
        - MYSQL_PASSWORD
        - WP_DB_NAME
    image: mariadb
    volumes:
      - db:/var/lib/mysql
    restart: always

  wordpress:
    container_name: 'inception-wordpress'
    build:
      context: requirements/wordpress/
      args:
        - DOMAIN_NAME
        - MYSQL_USER
        - MYSQL_PASSWORD
        - WP_DB_HOST=mariadb
        - WP_DB_NAME
        - WP_SITE_TITLE
        - WP_ADMIN_LOGIN
        - WP_ADMIN_PASSWORD
        - WP_ADMIN_EMAIL
        - WP_USER_LOGIN
        - WP_USER_PASSWORD
        - WP_USER_EMAIL
        - WP_REDIS_HOST=redis
    image: wordpress
    depends_on:
      - mariadb
      - redis
    volumes:
      - wordpress:/wordpress
    restart: always

  redis:
    build: requirements/bonus/redis/
    image: redis
    privileged: true
    restart: always

  adminer:
    build: requirements/adminer/
    image: adminer
    volumes:
      - adminer:/adminer
    restart: always

  ftp:
    build:
      context: requirements/bonus/ftp/
      args:
        - FTP_USER
        - FTP_PASSWORD
    image: ftp
    volumes:
      - wordpress:/wordpress
    ports:
      - "21:21"
      - "30000:30000"
    restart: always

  portfolio:
    build: requirements/bonus/portfolio/
    image: portfolio
    volumes:
      - portfolio:/portfolio
    ports:
      - "8000:80"
    restart: always

  container-stats:
    build: requirements/bonus/container-stats/
    image: container-stats
    environment:
      STATS_UPDATE_INTERVAL: 10
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock:ro'
      - '/home/docker/storage/stats/db:/opt/docker-stats/db'
    ports:
      - '8080:8080'
    restart: always

volumes:
  wordpress:
    driver_opts:
      type: none
      device: ${HOME}/data/wordpress
      o: bind
  db:
    driver_opts:
      type: none
      device: ${HOME}/data/db
      o: bind
  adminer:

  portfolio:
    driver_opts:
      type: none
      device: ${HOME}/data/portfolio
      o: bind


networks:
  default:
    name: inception_net

